  body {
    text-align: center;
    background: #fafafa;
  }

  /*
  DIV THINGS
  */
  div {
    display: inline-block;
  }

  div.bodyWrapper {

    width: 100vw;

  }

/*

  NOTE: The site now only has to load the "base" once as opposed to twice with
  how it was set up previously.

  div.block {

    background: #c0392b;
    color: #e6e6e6;

    width: 85vw;
    height: 14vh;

    margin-bottom: 2vh;

    transition-duration: 0.75s;

  }

  div.block:hover {

    background: #a63326;
    color: #f2f2f2;

    transition-duration: 0.75s;

  }

  */

  div.headerWrapper {

    background-color: inherit;

    width: 85vw;

  }

  div.authorTag {

    width: 100%;

  }

  div.textBox {

  }

  #buttonWrapper {

    width: 84vw;

  }

  /*
  TEXT THINGS
  */

  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');

  p.titleText {
    font-family: "Playfair Display", Georgia, Serif;
    font-size: 90px;
    font-stretch: expanded;

    text-align: center;
    text-transform: uppercase;

    color: #c0392b;


    border: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #c0392b;
    border-style: solid;

    margin-bottom: 2vh;
  }

  p.blockText {
    text-decoration: none;
    font-family: "Raleway", Arial, Sans-serif;
    font-size: 4vh;

    color: inherit;

    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    transition-duration: 0.33s;

  }

  p.aboutText {
    font-size: 3vh;
    font-weight: 200;

    color: #000;

    text-align: justify;
  }

  .authorText {
    font-family: Arial, sans-serif;
    font-size: 1.7vh;

    color: #333;
  }

  /*
  NOSCRIPT ALERT
  */

  #alert {
    font-weight: bolder;
    color: red;
    font-size: 3vh;
  }

  /*
  MISC
  */

  .noMargin {
    margin: 0px;
  }

  ::-moz-selection,
  ::selection{
    background: #fafafa;
    color: #fff;
    text-shadow: none;
  }

  span.highlight {
    color: #c0392b;

    font-size: 4vh;
  }

  /*
  BOTTOM LINKS
  */

  .bottom-status {
    font-size: 1.4vh;
  }

  .links-bottom > a {
    color: black;
    text-decoration: none;
  }

  a.smaller-link {
    font-size: 1.3vh;
    font-weight: bolder;
  }

  a.bigger-link {
    font-size: inherit;
    font-weight: bolder;
    color: #333;
  }
