html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  /*text-transform: lowercase;*/
  font-family: "Raleway", Arial, Sans-serif;

  text-align: center;
  background: #fafafa;

  width: 100vw;
  height: 100vh;
}

.wrapper-body {

  width: 100vw;

}

.wrapper-header {

  background-color: inherit;

  width: 85vw;

}

#wrapper-btns {

  width: 100vw;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 100px;
}

footer {

  width: 80vw;
  /*height: 10vh;  to bottom */

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #fafafa;

  border: none;
  border-top: 1px solid #c0392b;

  font-size: 1.4vh;

  /*font-weight: lighter;*/

  color: #0f0f0f;
}

/*
TEXT THINGS
*/

#text-header {

  font-family: "Playfair Display", Georgia, Serif;
  font-size: 7vh;
  font-stretch: expanded;

  text-align: center;
  text-transform: uppercase;

  color: #c0392b;

  border: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #c0392b;
  border-style: solid;

  margin-bottom: 2vh;

  width: 80vw;

}

.block-text {

  text-decoration: none;
  font-family: "Raleway", Arial, Sans-serif;
  font-size: 4vh;

  color: inherit;

  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  transition-duration: 0.33s;

}

#google-sign-in-wrapper {

  margin: 0;

  padding: 0;

  width: auto;
  height: auto;

}

/*
NOSCRIPT ALERT
*/

#alert {
  font-weight: bolder;
  color: red;
  font-size: 3vh;
}

/*
MISC
*/

.no-margin {
  margin: 0px;
}

::-moz-selection, ::selection{
  background: #fafafa;
  color: #fff;
  text-shadow: none;
}

.small-link, a {
  cursor: pointer;
  text-decoration: none;
  text-decoration: overline;
  text-transform: lowercase;
  color: black;
}

.small-link:hover, a:hover {
  text-decoration: none;
  text-decoration: overline;
  font-style: italic;
  color: black;
}

.small-link:active, a:active {
  text-decoration: none;
  text-decoration: overline;
  font-style: oblique;
  color: black;
}

/* LOADING */

/*#loading {
  animation-duration: 2.0s;
  display: none;
  height: 10vh;
  width: 10vh;
}
*/
#btn-profile {

  vertical-align: middle;

  display: none;

  background-color: #c0392b;

  margin-left: auto;
  margin-right: auto;

  border-radius: 4vw;

  width: 4vw;
  height: 4vw;

  background-size: cover;

  transform: translateX(55%) translateY(-20%);
  transition-duration: .5s;

}

#btn-profile:hover {
  border-radius: 1vw;

  border: 5px solid #c0392b;

  transition-duration: .3s;

}

.click {
  cursor: pointer;
}

button {
  /*width: 1vw;*/
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: inherit;
}

.separator {
  color: black;
  font-weight: bold;
}

.wrapper-contrib {
  text-align: right
}

.contrib-title {
  font-style: italic;
}
