/** {
box-sizing: border-box;
padding: 0;
margin: 0;
}
*/

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {

  text-align: center;
  background: #fafafa;

  width: 100vw;
  height: 100vh;

}

/*
DIV THINGS
*/
div {

  display: inline-block;

}

div.bodyWrapper {

  width: 100vw;

}

/*

NOTE: The site now only has to load the "base" once as opposed to twice with
how it was set up previously.

div.block {

  background: #c0392b;
  color: #e6e6e6;

  width: 85vw;
  height: 14vh;

  margin-bottom: 2vh;

  transition-duration: 0.75s;

}

div.block:hover {

  background: #a63326;
  color: #f2f2f2;

  transition-duration: 0.75s;

}

*/

div.headerWrapper {

  background-color: inherit;

  width: 85vw;

}

div.authorTag {

  width: 100%;

}

#buttonWrapper {

  /*width: 100vw;*/

  margin-left: auto;
  margin-right: auto;

}

footer {

  width: 100vw;
  /*height: 10vh;  to bottom */

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: rgba(0, 0, 0, 0.15);
}

/*
TEXT THINGS
*/

#headerText {

  font-family: "Playfair Display", Georgia, Serif;
  font-size: 10vh;
  font-stretch: expanded;

  text-align: center;
  text-transform: uppercase;

  color: #c0392b;

  border: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #c0392b;
  border-style: solid;

  margin-bottom: 2vh;

  width: 80vw;

}

p.blockText {

  text-decoration: none;
  font-family: "Raleway", Arial, Sans-serif;
  font-size: 4vh;

  color: inherit;

  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  transition-duration: 0.33s;

}

.authorText {

  font-family: Arial, sans-serif;
  font-size: 1.5vh;

  color: #333;

}

#googleSignInWrapper {

  margin: 0;

  padding: 0;

  width: auto;
  height: auto;

}

/*
NOSCRIPT ALERT
*/

#alert {
  font-weight: bolder;
  color: red;
  font-size: 3vh;
}

/*
MISC
*/

.noMargin {
  margin: 0px;
}

::-moz-selection, ::selection{
  background: #fafafa;
  color: #fff;
  text-shadow: none;
}

span.highlight {
  color: #c0392b;

  font-size: 4vh;
}

/*
BOTTOM LINKS
*/

.bottom-status {
  flex: 1;
  font-size: 1.3vh;
}

.links-bottom > a {
  flex: 1;
  color: black;
  text-decoration: none;
}

a.smaller-link {
  flex: 1;
  font-size: 1.25vh;
  font-weight: bolder;
}

a.bigger-link {
  flex: 1;
  font-size: inherit;
  font-weight: bolder;
  color: #333;
}

a:hover {
  text-decoration: none;
}

/* LOADING */

#loading {
  animation-duration: 2.0s;
  display: none;
  height: 10vh;
  width: 10vh;
}

#profileButton {

  vertical-align: middle;

  display: none;

  background-color: #c0392b;

  margin-left: auto;
  margin-right: auto;

  border-radius: 4vw;

  width: 4.5vw;
  height: 4.5vw;

  background-size: cover;

  transform: translateX(55%) translateY(-20%);
  transition-duration: .5s;

}

#profileButton:hover {
  border-radius: 1vw;

  border: 5px solid #c0392b;

  transition-duration: .3s;

}

.click {
  cursor: pointer;
}