@media only screen and (min-width: 791px) {

  body {
    text-align: center;
    background: #fafafa;
  }

  /*
  DIV THINGS
  */
  div {
    display: inline-block;
  }

  div.bodyWrapper {
    /* ??? nothing to put here right now */
  }

  div.block {

    background: #c0392b;
    color: #e6e6e6;

    width: 41vw;
    height: 25vh;

    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 1vh

    transition-duration: 0.75s;

  }

  div.block:hover {

    background: #a63326;
    color: #f2f2f2;

    transition-duration: 0.75s;

  }

  div.headerWrapper {

    background-color: inherit;

    width: 85vw;
  }

  div.authorTag {

    background-color: inherit;

    width: 100%;

  }

  /*
  TEXT THINGS
  */

  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');

  p.titleText {
    font-family: "Playfair Display", Georgia, Serif;
    font-size: 90px;
    font-stretch: expanded;

    text-align: center;
    text-transform: uppercase;

    color: #c0392b;


    border: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #c0392b;
    border-style: solid;

    margin-bottom: 3vh;
  }

  p.blockText {
    text-decoration: none;
    font-family: "Raleway", Arial, Sans-serif;
    font-size: 4vh;

    color: inherit;

    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .authorText {
    font-family: Arial, sans-serif;
    font-size: 2vh;

    color: #333;
  }

  /*
  NOSCRIPT ALERT
  */

  #alert {
    font-weight: bolder;
    color: red;
    font-size: 3vh;
  }

  /*
  MISC
  */

  .noMargin {
    margin: 0px;
  }

  /*
  BOTTOM LINKS
  */

  .links-bottom > a {
    color: black;
    text-decoration: none;
  }

  a.smaller-link {
    font-size: 1.3vh;
    font-weight: bolder;
  }

}
