@media only screen and (min-width: 791px) {


  body {

    text-align: center;
    background: #fafafa;

    height: 70vh;

  }

  header {

    background-color: #fafafa;

    text-align: center;

    width: 100vw;
    height: 20vh;

    display: inline-block;

  }

  /*
  DIV THINGS
  */
  div {

    display: inline-block;

  }

  div.block {

    background: #c0392b;
    color: #e6e6e6;

    width: 18vw;
    height: 30vh;

    margin-bottom: 2.5vh;
    margin-left:  1vw;
    margin-right: 1vw;

    transition-duration: 0.75s;

  }

  div.block:hover {

    background: #a63326;
    color: #f2f2f2;

    transition-duration: 0.75s;

  }

  div.smallBlock {
    height: 22vh;
  }

  #bigcircle {

    width:  40vh;
    height: 40vh;

    border-radius: 40vh;

    position: relative;
    top: 50%;

    margin-top: auto;
    margin-bottom: auto;

  }


  #profileButton {

    vertical-align: middle;

    display: none;

    background-color: #c0392b;

    margin-left: auto;
    margin-right: auto;

    border-radius: 4vw;

    width: 4.5vw;
    height: 4.5vw;

/*    background-image: url(../img/cat-icon.svg);
*/
    background-size: cover;


    transform: translateX(55%) translateY(-20%);
    transition-duration: .5s;

  }

  #profileButton:hover {
    border-radius: 1vw;

    border: 5px solid #c0392b;

    transition-duration: .3s;

  }

/*
  #profileButton:hover + #signout-div  {
    height: 2vh;
    width: 3vw;
    position: relative;
    background-color: blue;
    display: inline-block;
  }
*/

  #backButton {

    width: 10vw
    height: 10vw;

    vertical-align: middle;

    display: inline-block;

    margin-left: auto;
    margin-right: auto;

    background-size: 10vw 10vw;

    transform: translateY(-20%);

  }

  div.authorTag {

    background-color: inherit;

    width: 100%;

  }

  div.buttonWrapper {

    padding: 0;

    margin-left: auto;
    margin-right: auto;

    vertical-align: middle;

    height: auto;
    width: auto;

  }

  /*
  IMAGE THINGS
  */

  #backButton > img {

    height: 4vw;
    width: 4vw;

    transform: translateX(-80%);

    transition-duration: 0.66s;

  }

  #backButton > img:hover {

    height: 4vw;
    width: 4vw;

    transform: translateX(-90%);

    transition-duration: 0.66s;

  }

  /*
  TEXT THINGS
  */

  #bigcircle:hover > p.blockText {

    transition-duration: 0.33s;

    top: 40%;

  }

  p.hoverButtonText {

    color: rgba(255, 255, 255, 0);

    font-size: 2vh;
    font-family: "Raleway", Arial, Sans-serif;

    margin-top: 25%;

  }

  div.block:hover > p.hoverButtonText {

    color: rgba(255, 255, 255, 255);

    transition-property: color;
    transition-duration: 0.33s;

    transition-property: margin;
    transition-duration: 0.33s;

  }

  #bigcircle > p.hoverButtonText {

    margin-top: 35%;

    transition-property: margin;
    transition-duration: 0.33s;

  }

  div.block:hover > p.blockText {

    transition-duration: 0.33s;

    top: 40%;

  }


}
