@media only screen and (min-width: 791px) {


  body {
    text-align: center;
    background: #fafafa;

  }

  /*
  DIV THINGS
  */
  div {

    display: inline-block;

  }

  div.bodyWrapper {

    /* ??? nothing to put here right now */

  }

  div.block {

    background: #c0392b;
    color: #e6e6e6;

    width: 18vw;
    height: 30vh;

    margin-bottom: 2.5vh;
    transition-duration: 0.75s;

  }

  .leftBlock {

    margin-left:  0.5vw;
    margin-right: 0.5vw;

  }

  .rightBlock {

    margin-left:  0.5vw;
    margin-right: 0.5vw;

  }

  div.block:hover {

    background: #a63326;
    color: #f2f2f2;

    transition-duration: 0.75s;

  }

  div.headerWrapper {

    background-color: inherit;

    text-align: center;
    width: 83.2vw;

  }

  div.authorTag {

    background-color: inherit;

    width: 100%;

  }

  div.buttonWrapper {

    padding: 0;

  }

  div.hoverButton {

    width: 50%;
    height: 0%;

    margin-left: auto;
    margin-right: auto;

  }

  div.block:hover > div.hoverButton {

    width: 50%;
    height: 25%;

  }

  /*
  TEXT THINGS
  */

  div.block:hover > p.blockText {

    transition-duration: 0.33s;

    top: 45%;

  }

  p.hoverButtonText {

    color: #fff;

    font-size: 2vh;
    font-family: "Playfair Display", Georgia, Serif;

  }

}
