@media only screen and (max-width: 790px) {

  body {

    text-align: center;
    background: #fafafa;

  }

  /*
  DIV THINGS
  */
  div {

    display: inline-block;

  }

  div.headerText {
    font-size: 10vh;

  }

  div.block {

    background: #c0392b;
    color: #e6e6e6;

    width: 85vw;
    height: 14vh;

    margin-bottom: 2vh;

    transition-duration: 0.75s;

  }

  #bigcircle {

    background: #c0392b;
    color: #e6e6e6;

    width: 85vw;
    height: 14vh;

    margin-bottom: 2vh;

    transition-duration: 0.75s;

  }

  div.block:hover {

    background: #a63326;
    color: #f2f2f2;

    transition-duration: 0.75s;

  }

  #profileButton {

    vertical-align: middle;

    display: inline-block;

    background-color: #c0392b;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9vw;

    width: 9vw;
    height: 9vw;

    background-color: #ccc;

  }

  /*

  */

  p.hoverButtonText {

    color: rgba(255, 255, 255, 0);

  }

}
