<form id="edit-form">
  <button type="button" name="button" onclick="javascript:formResizer.addItem();">Add an item</button>
  <button type="button" name="button" onclick="javascript:formResizer.removeLast();">Remove last item</button>

  <input type="checkbox" default="false" name="is_buffet" id="is_buffet">Is this a buffet menu?</input>
  <fieldset name="default" id="field-default">
    <input type="text" name="default.text-default" style="width: 20em;"/>
  </fieldset>
  <button type="button" onclick="javascript:formExtract('edit-form')" />

</form>
