<!-- for testing individually -->
<script type="text/javascript" src="../js/forms/edit-menu.js"></script>

<form id="menu-form">

  <button type="button" onclick="editMenuForm.formExtract(this)"> Submit </button>
  <button type="button" name="button" onclick="editMenuForm.formResizer.addItem(this);"> Add an item </button>
  <button type="button" name="button" onclick="editMenuForm.formResizer.removeLast(this);"> Remove last item </button>

  <label onclick="editMenuForm.doBuffetBox()" title="Price values are ignored for buffets">
    Is this a buffet menu?
    <input type="checkbox" default="false" name="is_buffet" id="is_buffet"/>
    <span id="buffet_warn" hidden>Price values are ignored for buffets</span>
  </label>

  <fieldset class="field" name="default" name="field-default" id="field-default">
    <label>
      Item name:
      <input type="text" name="default-name" value=""/>
    </label>
    <label>
      Description:
      <textarea type="text" name="default-desc" value=""/></textarea>
    </label>
    <label>
      Price:
      <input type="number" name="default-price" value=""/>
    </label>
    <label id="special-checkbox" onclick="editMenuForm.doSpecialCheckBox(this)">
      Options?
      <input type="checkbox" name="default-options" value=""/>
    </label>
  </fieldset>
</form>
