<select class="white-col mako-dropdown">
  <option selected="true">0</option>
  <option selected="false">1</option>
  <option selected="false">2</option>
  <option selected="false">3</option>
  <option selected="false">4</option>
  <option selected="false">5</option>
  <option selected="false">6</option>
  <option selected="false">7</option>
  <option selected="false">8</option>
  <option selected="false">9</option>
  <option selected="false">10</option>
  <option selected="false">15</option>
  <option selected="false">20</option>
</select>