<div class="row mako-row">
  <div class="col-md-3 mako-col mako-static-item-name"  id="mako_itemname_ENTRY_NUMBER">ITEM_NAME</div>
  <div class="col-md-4 mako-col mako-static-item-desc"  id="mako_itemdesc_ENTRY_NUMBER">ITEM_DESC</div>
  <div class="col-md-1 mako-col mako-static-item-price" id="mako_itemprice_ENTRY_NUMBER">$<div id="mako_itempriceval_ENTRY_NUMBER">ITEM_PRICE</div></div>
  <div class="col-md-1 mako-col mako-dyn-item-ct"       id="mako_dropdown_ENTRY_NUMBER">STATIC_DROPDOWN</div>
  <div class="col-md-1 mako-col mako-dyn-item-mprice"   id="mako_totalprice_ENTRY_NUMBER">$<div id="mako_totalpriceval_ENTRY_NUMBER">0.00</div></div>
  <div class="col-md-2 mako-btn white-col">
    <div class="mako-plus"    id="mako_btn_plus_ENTRY_NUMBER">➕</div>
    <div class="mako-between"></div>
    <div class="mako-minus"   id="mako_btn_minus_ENTRY_NUMBER">➖</div>
  </div>
</div>
