<form id="menu-form">

  <label class="fc-checkbox" id="fc-buffet" onclick="editMenuForm.doBuffetBox()" title="Price values are ignored for buffets">
    Is this a buffet menu?
    <input type="checkbox" default="false" value="" name="is_buffet" id="is_buffet"/>
    <span id="buffet_warn" hidden>Price values are ignored for buffets</span>
  </label>

  <br>

  <div id="menu-fc-buttons-column">
    <button class="fc-button" type="button" id="fc-add"    name="fc-add"    onclick="editMenuForm.formResizer.addItem()">
      +
    </button>
    <br>
    <button class="fc-button" type="button" id="fc-rmlast" name="fc-rmlast" onclick="editMenuForm.formResizer.removeLast()">
      -
    </button>
  </div>

  <div id="menu-wrapper">

    <fieldset class="menu-field" name="default" name="field-default" id="field-default">
      <label class="menu-itemname">
        Item name
        <input class="menu-itemname-input" type="text" name="default-name" value=""/>
      </label>
      <label class="menu-itemdesc">
        Description
        <textarea class="menu-itemdesc-input" type="text" name="default-desc" value=""></textarea>
      </label>
      <label class="menu-itemprice">
        Price
        <input class="menu-itemprice-input" type="number" name="default-price" value=""/>
      </label>
      <label class="menu-itemoptions" id="default-special-checkbox" name="special-checkbox">
        Options?
        <input class="menu-itemoptions-input" type="checkbox" name="default-options" value=""/>
      </label>
    </fieldset>

  </div>

  <br>

  <div id="menu-fc-buttons-bottom">
    <button class="fc-button" type="button" id="fc-submit" name="fc-submit" onclick="editMenuForm.doProcessMenuForm()">
      submit
    </button>
  </div>

</form>

<script>try{document.getElementById("default-special-checkbox").addEventListener("click",doOptionsCheckBox)}finally{}</script>
