<br>

<div>
  <p>
    By logging into the Mineral Springs Web Application with your Google account, you agree to allow Mineral Springs to access the following information, as provided by Google:
    <ul>
      <li>
        Your full name
      </li>
      <li>
        Your Google email address
      </li>
      <li>
        The name of the organisation issuing your Google account
      </li>
      <li>
        A web link to your Google profile picture
      </li>
    </ul>
    <br>
    By using the Application, you allow Mineral Springs to keep an indefinite private record of the information as listed above. This is done to prevent abuse of our free service.
    <br>
    The Mineral Springs Web Application does not observe, collect, retain, or share with a third party data about your payment, digital accounts or card accounts, or other monetary information.
    <br>
    During the alpha- and beta-testing phase of this Application, such information may be shared indirectly with the general public.
    <br>
    If you wish to have personal information removed from our testing phase, create an Issue on the GitHub repository, or email one of the developers.
    <br>
    The Application does not utilise any sort of cookie or device-local storage, for any reason. We do not observe, collect, retain, or share with a third party, any data which is not explicitly granted to us when you log in with Google.
    <br>
    The Application does not collect data about your device specifications, user agent, browsing history, other cookies, advertising IDs, or other information not listed above.
    <br>
    The Application stores non-identifying data about your use history, and current user state. This data includes, but is not limited to:
    <ul>
      <li>
        The time you first used the Application
      </li>
      <li>
        The time you last used the Application
      </li>
      <li>
        The number of times you have used the Application
      </li>
      <li>
        The number of times you have been rate-limited by the system
      </li>
      <li>
        The number of orders you have placed
      </li>
    </ul>
    We respect your right to privacy, and solicit suggestions to improve this document or the Application.
  </p>
</div>
