<br>

<div>
  <p>
    <ol>
      <li>
        By logging into the Mineral Springs Web Application with your Google account, you agree to allow Mineral Springs to access the following information, as provided by Google:
        <ul>
          <li>
            Your full name
          </li>
          <li>
            Your Google email address
          </li>
          <li>
            The name of the organisation issuing your Google account
          </li>
          <li>
            A web link to your Google profile picture
          </li>
        </ul>
      </li>
      <li>
        By using the Application, you allow Mineral Springs to keep an indefinite private record of the information in (1). This is done to prevent abuse of our free service.
      </li>
      <li>
        During the alpha- and beta-testing phase of this Application, the information in (1) may be shared indirectly with the general public.
      </li>
      <li>
        If you wish to have identifying personal information removed from our testing phase, create an Issue on the GitHub repository, or email one of the developers.
      </li>
      <li>
        The Mineral Springs Web Application does not observe, collect, retain, or share with a third party data about your payment, digital, or card accounts, or other monetary information.
      </li>
      <li>
        The Application does not utilise any sort of cookie or device-local storage, for any reason. The Application does not observe, collect, retain, or share with a third party, any data which is not explicitly granted to it in (1).
      </li>
      <li>
        The Application does not collect data about your device specifications, user agent, browsing history, other cookies, advertising IDs, or other information not listed in (1).
      </li>
      <li>
        The Application stores non-identifying data about your use history, and current user state. This data includes, but is not limited to:
        <ul>
          <li>
            The time you first used the Application
          </li>
          <li>
            The time you last used the Application
          </li>
          <li>
            The number of times you have used the Application
          </li>
          <li>
            The number of times you have been rate-limited by the system
          </li>
          <li>
            The number of orders you have placed
          </li>
        </ul>
        Though this data is stored in association with the identifying information in (1), alone it cannot be used to uniquely identify you, the user. As such, it is condsidered anonymous.
      </li>
    </ol>
    We respect your right to privacy, and solicit suggestions to improve this document or the Application.
  </p>
</div>
