#menu-form {
  display: inline-block;
  /*width: 80vw;*/
  /*  float: left; */
}

#menu-wrapper {

  display: inline-block;

  width: 50vw;

  border: 1px solid #c0392b;

  padding: 2vh;

  /*margin-right: 5vw;*/
  /*display: block;*/
}

#menu-fc-buttons-col-left {

  display: inline-block;
  width: 5vw;
  height: 10vw;

  float: left;
}

#menu-fc-buttons-col-right {
  display: inline-block;
}

#menu-fc-buttons-bottom {
  transform: translateX(500%);
}


button.fc-button {

  width: 5vw;
  height: 5vw;

  background-color: #c0392b;

  border: none;

  color: white;

  font-size: 20px;
  font-weight: bold;
}

#fc-submit {
  font-weight: normal;
}

#fc-removethis {

}

fieldset.menu-field {
  position: relative;
}