#form-grid {
  width: 80%;
/*  margin-left: 15%;
  margin-right: 15%;
*/color: #fafafa /*e6e6e6*/;

  text-decoration: none;
  font-family: "Raleway", Arial, Sans-serif;
  font-size: 2.7vh;
  display: none;
}

#buffet-userwarn {
  display: none;
}

.load {
  display: block;
  text-decoration: none;
  font-family: "Raleway", Arial, Sans-serif;
  font-size: 2.7vh;
}

.mako-row {
  display: block;
}

.mako-col {
  background: #c0392b;
}

.white-col {
  background: #fafafa;
  font-weight: bold;
  color: #c0392b;
}

.mako-dyn-item-ct,
.mako-dyn-item-mprice,
.mako-static-item-name {
  font-weight: 500;
}

.mako-static-item-desc {
  /*font-size: 2.4vh;*/
}

.mako-btn {
  /* animation CSS */
}

.mako-dropdown {
  border: none;
  border-right: 2px solid #fafafa;

  color: #fafafa;
  background-color: #c0392b;
  padding-left: 10%;
}

.mako-plus,
.mako-minus {
  cursor: pointer;
}

.mako-option {
  padding-top: 0px;
}

.mako-option-grouplast {
  padding-bottom: 1.7vh;
}

.mako-between {
  margin-left:  20%;
  margin-right: 20%;
}

.mako-legend-top {
  font-weight: bold;
}

.mako-legend-bottom {
  padding-top: 3vh;
}

.mako-btnfinal {
  cursor: pointer;
}

.mako-total {
  padding-bottom: 3vh;
}

.timestamp-row {
  font-size: 1.5vh;
  padding-top: 3vh;
}
